@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Monsteratt";
  background-color: blanchedalmond;
  color: #333;
  text-align: center;
}

h1 {
  color: black;
  padding: 5%;
  font-size: 2em;
  border-radius: 10px;
}

h3 {
    color: black;
    font-size: 1.5em
}

h4 {
    color: black;
    font-size: 1.5em;
}

#list1 {
    background-color: aqua;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(red, green, blue, alpha);
    display: inline-block;
    margin: 20px;
}
#list2 {
    background-color: aqua;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(red, green, blue, alpha);
    display: inline-block;
    margin: 20px;
}
#list3 {
    background-color: aqua;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(red, green, blue, alpha);
    display: inline-block;
    margin: 20px;
}

.lists{
    margin: 0 auto;
    max-width: 800px;

}
a:hover{
    text-decoration: wavy;
    text-shadow: #333;
}
img {
width: 100px;
border-radius: 10px;
opacity: 0.9;
transition: opacity 0.3s;
}
img:hover {
    opacity: 1;
}